/* Font APIs */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Layout */

body{
	background-color: black;
	color:white;
	text-shadow: 2px 2px Purple;
	margin-left: 20%;
	margin-right: 20%;
	font-size: Large;
	font-family: sans-serif;
	text-align: center
}

.shodan-logo {
	background-image: url('../Static/Assets/Logo.png');
	width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: 0.1s;
    background-position: center;
}



.shodan-admin-form {
	display: flex;
	justify-content: center;
}

.shodan-admin-form form {
	border-radius: 5px;
	padding: 25px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	background: #322d33;
	box-shadow: 2px 2px #fb21ff;
}

.shodan-admin-form form h1 {
	padding: 0;
	text-align: center;
	padding-bottom: 20px;
	font-weight: 600;
	font-size: 22.5px;
	display: block;
	margin: 0;
}

.shodan-admin-form form .admin-message{
	color: green;
	font-size: 13px;
	text-shadow: 0 0;
}