html, body {
	padding: 0;
	font-family: 'Open Sans';
	background: #1c1c1c;
	color: white;
	margin: 0;
}

/*
	
	Fonts
	
*/

.logo h1 {
	font-family: 'Titania';
	color: #ff71f7;
	text-shadow: 0px 5px black;
}

.logo h2 {
	font-family: 'Monofonto';
	color: #ff71f7;
	text-shadow: 0px 2px black;
}

/*

	Links 
	
*/

a {
	color: #b72cae;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	color: #ff71f7;
}


/*

	Buttons

*/

.button {
	padding: 7.5px 32.5px 7.5px 32.5px;
	color: white;
	font-weight: 600;
	display: inline-block;
	transition: 0.3s;
	font-size: 16px;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 1px 3.5px #171717;
}

.button--submit {
	background: #b72cae;
}

.button--submit:hover {
	background: #ff71f7;
}

/*

	Layout -- Landing Page
	
*/

#landing-page {
	height: 100%;
}

#landing-page header {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	background: #1c1c1c;
	text-align: center;
}

#landing-page header .login {
	float: right;
	margin-right: 30px;
	margin-top: -50px;
}

#landing-page header .register {
	float: right;
	margin-top: -50px;
	margin-right: 160px;
}

#landing-page header .logo h1 {
	font-size: 110px;
	margin-bottom: 0;
}


#landing-page header .logo h2 {
	font-size: 20px;
	font-weight: 200;
	margin-top: -7.5px;
}

#landing-page .content {
	height: 100%;
}

#landing-page .content .featured-games {
	background: #1a1a1a;
	height: 100%; 
	padding-top: 5px;
	padding-bottom: 30px;
}

#landing-page .content .featured-games .game-container {
	display: flex;
	padding: 25px;
	justify-content: center;
}

#landing-page .content .featured-games .game-container .game-motto {
	display: inline-block;
	padding: 50px 20px 30px 50px;
	font-family: 'Monofonto';
	font-size: 21.5px;
	letter-spacing: 0.5px;
	max-width: 350px;
	text-align: center;
}

#landing-page .content .featured-games .game-container .game-motto .sd {
	color: #ff71f7;
}

#landing-page .content .featured-games .game-container .game-motto .hf {
	color: #ffc175;
}

#landing-page .content .featured-games .game-container .game-motto .ss {
	color: #c2f490;
}

#landing-page .content .featured-games .game-container .game-motto .ff {
	color: #7cfaff;
}

#landing-page .content .featured-games .game-container .game-motto .dm {
	color: #ce4c4c;
}

#landing-page .content .featured-games .game-container .game-motto .cc {
	color: #b689ff;
}

#landing-page .content .featured-games .game-container .game-image {
	background-size: cover;
	width: 550px;
	height: 300px;
	display: inline-block;
	border: 0.5px solid black;
	box-shadow: 1px 3.5px #171717;
}

#landing-page .content .featured-games .game-container .first-game-image {
	background-image: url('../static/SystemShock.jpg');
}

#landing-page .content .featured-games .game-container .second-game-image {
	background-image: url('../static/HalfLife.png');
}

#landing-page .content .featured-games .game-container .third-game-image {
	background-image: url('../static/FF7.jpg');
	background-position: -80px;
    background-size: 120%;
}

/*

	Dashboard

*/

html, body, #dashboard {
	height: 100%;
}

#dashboard {
	display: flex;
}

#dashboard .sider {
	height: 100%;
	width: 275px;
	left: 0;
	background: #171717;
	z-index: 1;
	position: fixed;
}

#dashboard .sider .links-container {
	padding: 10px;
	margin-top: 20px;
}

#dashboard .sider .links-container div {
	margin-bottom: 5px;
	color: white;
	text-decoration: none;
	font-weight: 500;
	padding: 10px;
	margin-bottom: 4px;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 3px;
}


#dashboard .sider .sider-items i {
	margin-right: 5px;
	
}

#dashboard .sider .selected {
	background: #1c1c1c;
}

#dashboard .sider .links-container div:hover {
	background: #1c1c1c;
}

#dashboard .sider #close-sider {
	position: absolute;
	transition: 0.2s;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #1C1C1C;
	right: 0;
	margin-right: -12.5px;
	display: flex;
	cursor: pointer;
	color: #0f0f0f;
	justify-content: center;
	align-items: center;
}

#dashboard .sider span {
	margin-left: 5px;
}

#dashboard .sider #close-sider:hover {
	background: #212121;
	color: white;
}

#dashboard .main {
	width: 100%;
	margin-left: 274px;
}

#dashboard .main nav {
	background: #101010;
	height: 50px;
}

#dashboard .main nav a {
	float: right;
	text-decoration: none;
	color: white;
	font-weight: 400;
	display: flex;
}

#dashboard .main nav a span {
	padding-right: 12.5px;
	padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#dashboard .main nav a div {
	border-radius: 35px;
	height: 35px;
	display: inline-block;
	width: 35px;
	background: white;
	margin-right: 40px;
	margin-top: 7.5px;
	background-image: url('../static/Avatar.png');
	background-size: cover;
}

#dashboard .main .content-container .featured {
	background-image: url('../static/SystemShock.jpg');
	background-size: cover;
	background-position: -160px -220px;
	height: 250px;
}

#dashboard .main .content-container .featured .overlay {
	background: linear-gradient(to right, transparent 0%, black 50%);
	height: 100%;
	width: 50%;
	float: right;
	text-align: right;
}

#dashboard .main .content-container .featured .overlay div {
	padding: 45px;
	font-size: 15px;
}

#dashboard .main .content-container .featured .overlay div strong  {
	font-size: 17px;
}

#dashboard .main .content-container .featured .overlay div a  {
	color: #ff71f7;
	text-decoration: none;
	font-weight: 600;
}

#dashboard .main .content-container .featured .overlay div a:hover  {
	text-decoration: underline;
}

#dashboard .main .content-container .content {
	padding: 10px 25px 25px 25px;
}

#dashboard .main .content-container .content .games {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

#dashboard .main .content-container .content h1 {
	margin-left: 10px;
}

#dashboard .main .content-container .content h1 i {
	margin-right: 5px;
}

#dashboard .main .content-container .content .games a {
	color: white;
}

#dashboard .main .content-container .content .games .game-container {
	height: 300px;
	width: 200px;
	box-shadow: 0px 0px 3px black;
	opacity: 0.9;
	cursor: pointer;
	background-size: cover;
	position: relative;
	margin: 0 15px 15px 15px;
}

#dashboard .main .content-container .content .games .game-container .overlay {
	background: black;
	display: block;
	position: absolute;
	opacity: 0.7;
	width: 100%;
	bottom: 0;
	text-align: center;
}

#dashboard .main .content-container .content .games .game-container:hover {
	opacity: 1;
}

#dashboard .main .content-container .content .games .game-container .overlay {
	color: white;
	display: block;
	text-decoration: none;
	font-weight: 500;
}

#dashboard .main .blog {
	display: flex;
	padding-bottom: 35px;
}

#dashboard .main .blog .blog-container {
	color: white;
	padding: 0 15px 15px 15px;
}

#dashboard .main .blog .blog-container .article {
	min-width: 250px;
	max-width: 350px;
	background: #171717;
	padding: 10px;
	box-shadow: 0px 0px 2px black;
}

#dashboard .main .blog .blog-container .article a {
	padding-left: 20px;
	padding-bottom: 20px;
	display: block;
}

/*

	Login Form

*/

#login-form {
	width: 350px;
	height: 300px;
	background: #1c1c1c;
	box-shadow: 0px 0px 20px #b72cae;
	position: fixed;
	top: -155px;
	left: 50%;
	margin-left: -175px;
	display: none;
	transition: 1s;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	border-radius: 25px;
}

#login-form form h1 {
	margin-top: 0;
}

#login-form form input {
	padding: 6.5px;
	margin-bottom: 2px;
	text-align: center;
}

#login-form form #login-submit {
	width: 100%;
	cursor: pointer;
}

.empty-collection {
	height: 300px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 27.5px;
	flex-wrap: wrap;
	color: grey;
	display: flex;
	flex-direction: column;
}

.empty-collection span {
	font-weight: 100;
	display: flex;
	align-self: center;
	margin-bottom: 3px;
}

.empty-collection i {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

/*

	Game Page

*/

#dashboard .main #app .content #game-page h1 i {
	margin-right: 10px !important;
}

#dashboard .main #app .content #game-page .game-flex {
	display: flex;
}

#dashboard .main #app .content #game-page .game-info-container {
	width: 50%;
}

#dashboard .main #app .content #game-page .game-info-container p {
	padding: 10px;
	margin: 0;
}

#dashboard .main #app .content #game-page .game-info-container .game-price {
	color: #81f966;
	font-size: 40px;
	font-weight: 700;
}

#dashboard .main #app .content #game-page .game-info-container .game-release-date {
	font-family: 'Monofonto';
	font-size: 22.5px;
}

#dashboard .main #app .content #game-page .game-info-container .game-description {
	font-size: 17.5px;
	text-align: justify;
}

#dashboard .main #app .content #game-page .game-info-container .button {
	margin: 10px 0px 0 10px;
}

#dashboard .main #app .content #game-page .game-image-container {
	width: 50%;
}

#dashboard .main #app .content #game-page .game-image-container .game-image {
	height: 500px;
	width: 350px;
	background-size: cover;
	box-shadow: 0px 0px 2px black;
	margin: auto;
}
