<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Shodan</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	  
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>db.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>MyCollectionServlet</servlet-name>
	    <servlet-class>db.MyCollectionServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>LatestGamesServlet</servlet-name>
	    <servlet-class>db.LatestGamesServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>ShopServlet</servlet-name>
	    <servlet-class>db.ShopServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>LatestBlogsServlet</servlet-name>
	    <servlet-class>db.LatestBlogsServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>GameServlet</servlet-name>
	    <servlet-class>db.GameServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>BlogServlet</servlet-name>
	    <servlet-class>db.BlogServlet</servlet-class>
	</servlet>
</web-app>